/* NAV SECTION */
.navLink {
  color: black;
  font-size: 1rem;
}

a.navList.active {
  color: red;
  text-decoration: none;
  font-size: 2rem;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-view {
  display: none;
}



@media screen and (max-width: 570px) {

  .mainNav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

  .desktop-view {
    display: none;
  }

}